<div class="container">
    <h3>File Upload/Download</h3>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data"  id="fileUploadForm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="uploadfile">Upload File:</label>
        <div class="col-sm-5">
          <input type="file" class="form-control " id='file' name='filename' placeholder="Upload File">
        </div>
      </div>
      <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-5">
            <button type="button" class="btn btn-outline-primary js-file-upload" >Upload</button>
          </div>
      </div>
    </form>
    <hr/>
    <div class="col-sm-offset-2" id="listFiles">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Download</td>
                </tr>
            </thead>
            <tbody>
                <% if(files.length===0) {%>
                    <div>
                        <tr><b style="color:red">No Files Uploaded Yet</b></tr>
                    </div>
                <%} else {%>
                    <% files.forEach(function(filename, index) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td>
                                <a href="/files/download/<%= filename %>"><%= filename %></a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>

            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/file.js"></script>